$font-family: 'Ubuntu', sans-serif;
$red: #BE5D59;
$turq: #4DC4AD;
$gray: #5E696D;
$white: #FFFFFF;

         /* style | variant | weight | stretch | size/line-height | family */
// font: italic small-caps bolder condensed 16px/3 cursive;

body {
  background: $white;
	font-family: $font-family;
  margin: 0;
}

header {
  display: flex;
  background-color: $gray;
  align-items: center;
  padding: 0 40px 0 40px;
  & > a {
    align-items: center;
    justify-content:flex-start;
    flex: 1;
    max-width: 100%;
    padding: 10px 0;
    display: block;
    img {
      height: 50px;
    }
  }
}

nav {
  display: flex;
  height: 80px;
  flex: 1;

  margin: 0;
  flex-flow: row wrap;
  a {
    font:400 1.2em $font-family;
    text-decoration:none;
    text-align: center;
    justify-content:center;
    align-items: center;
    display: flex;
    flex: 1;
    color: $white;
    &:link {
      color: $white;
    }
    &:visited {
      color: $white;
    }
    &:active {
      color: $gray;
    }
    &:hover {
      background: #7E878A;
      -moz-transition: 0.30s;
      -webkit-transition: 0.30s;
      transition: 0.30s;
    }
    &[href="/auth/"] {
      background: $turq;
      font:400 .9em $font-family;
      &::before {
        content: "\f09b";
        font: 30px/26px FontAwesome;
        display: block;
        vertical-align: middle;
        color: #ffffff;
        position: relative;
        margin: 5px;
        height: 35px;
        left: 0;
        top: 5px;
      }
    }
  }
}



@media all and (max-width: 800px) {
  nav {
    width: 100%;
    flex: 1;
    font: 400 1em $font-family;
    justify-content: space-around;
  }
  header {
    flex-direction: column;
    padding: 0;
  }
  header > a {
    align-items: center;
  }
}

/* style | variant | weight | stretch | size/line-height | family */
