$font-family: 'Ubuntu', sans-serif;
$red: #BE5D59;
$turq: #4DC4AD;
$gray: #5E696D;
$white: #FFFFFF;

/* style | variant | weight | stretch | size/line-height | family */

body {
  background: $white;
	font-family: $font-family;
  margin: 0;
}

header {
  display: flex;
  background-color: $gray;
  align-items: center;
  padding: 0 40px 0 40px;
  & > a {
    align-items: center;
    justify-content:flex-start;
    flex: 1;
    max-width: 100%;
    padding: 10px 0;
    display: block;
    img {
      height: 50px;
    }
  }
}

nav {
  display: flex;
  height: 80px;
  flex: 1;

  margin: 0;
  flex-flow: row wrap;
  a {
    font:400 1.2em $font-family;
    text-decoration:none;
    text-align: center;
    justify-content:center;
    align-items: center;
    display: flex;
    flex: 1;
    color: $white;
    &:link {
      color: $white;
    }
    &:visited {
      color: $white;
    }
    &:active {
      color: $gray;
    }
    &:hover {
      background: #7E878A;
      -moz-transition: 0.30s;
      -webkit-transition: 0.30s;
      transition: 0.30s;
    }
    &[href="/auth/"] {
      background: $turq;
      font:400 .9em $font-family;
      &::before {
        content: url('../img/gh_logo.png');
        margin: 5px;
      }
    }
  }
}



#cta {
  margin: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  font: 700 1em $font-family;
  // #slogan {
  //   font: italic 700 4em $font-family;
  //   color: $gray;
  //   img {
  //     height: 50px;
  //   }
  // }
  p {
    margin: 0;
    display: block;
    color: $gray;
    font:500 3em $font-family;
  }
  // a {
  //   color: $white;
  //   display: block;
  //   text-decoration: none;
  //   &[href="/auth/"] {
  //     width: 250px;
  //     height: 50px;
  //
  //     // display: flex;
  //     // flex: 1;
  //
  //     background: $gray;
  //     font:400 1.4em $font-family;
  //     border-radius: 4px;
  //
  //
  //     &::before {
  //       content: url('../img/gh_logo.png');
  //       padding: 10px;
  //       align-items: center;
  //       position: relative;
  //       top: 8px;
  //     }
  //   }
    // &[href="/logout"] {
    //   font: italic 300 .4em $font-family;
    //   color: $gray;
    //   &::after {
    //     content: "";
    //     display: block;
    //     border: 1px solid $gray;
    //     width: 100%;
    //     align-items: center;
    //     position: relative;
    //     top: 3px;
    //   }
    // }
  }
  #slogan {
    font: italic 700 4em $font-family;
    color: $gray;
    img {
      height: 50px;
    }
  }

  #authed {
    display: flex;
    // flex: 1;
    text-align: center;
    width: 40%;
    align-items:center;
    // justify-content:center;
    flex-direction: column;
    h1 {
      font: 700 5em $font-family;
      color: $gray;
      margin: 0 0 10px 0;
    }
    a {
      color: $white;
      display: block;
      text-decoration: none;
    }
    a[href="/logout"] {
      font: italic 300 .4em $font-family;
      color: $gray;
      &::after {
        content: "";
        display: block;
        border: 1px solid $gray;
        width: 100%;
        align-items: center;
        position: relative;
        top: 3px;
      }
    }
  }

  #landing {
    // margin: 40px;
    display: flex;
    // flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      padding: 15px;
    }
    a {
      color: $white;
      display: block;
      text-decoration: none;
      &[href="/auth/"] {
        width: 250px;
        height: 50px;

        // display: flex;
        // flex: 1;

        background: $gray;
        font:400 1.4em $font-family;
        border-radius: 4px;


        &::before {
          content: url('../img/gh_logo.png');
          padding: 10px;
          align-items: center;
          position: relative;
          top: 8px;
        }
      }
  }

}

@media all and (max-width: 1026px) {
  #authed {
    width: 100%;
  }
}

@media all and (max-width: 460px) {
  #cta {
    #landing {
      p {
        font:500 1.4em $font-family;
      }
    }
    #authed {
      width: 100%;

      a[href="/logout"] {
        margin-top: 20px;
      }
    }
    #slogan {
      font: italic 700 1.7em $font-family;
      color: $gray;
      margin-top: 20px;
      img {
        height: 20px;
      }
    }
  }
}


@media all and (max-width: 800px) {
  nav {
    width: 100%;
    flex: 1;
    font: 400 1em $font-family;
    justify-content: space-around;
  }
  header {
    flex-direction: column;
    padding: 0;
  }
  header > a {
    align-items: center;
  }
}
