{{define "dashboard" }}
{{template "cta" .}}
{{template "uuidBar" .}}
<section id="dashboard">
  <section id=dashDownloads>
    <h2>1. Downloads</h2>
    <div class="downloadsButtonsSection">
      <a class="download" href="/static/Forgit_CLI_Linux.tar.gz" title="" download="forgit"><p>Linux (beta)</p></a>
      <a class="download" href="/static/Forgit_CLI.zip" title="" download="forgit"><p>Mac</p></a>
    </div>
  </section>
  <section id="settingGroups">
    <div class="dashTitle">
      <h2>2. Setting Groups</h2>
      <a href="/dashboard/setNew/#clearForm" id="clearForm"><span>Add new setting group</span><img src="/static/img/plus.svg" alt="plus sign" /></a>
    </div>
    <form action="/dashboard/setSelect/" method="post">
      <select name="settingGroupSelect" onchange="this.form.submit()">
        {{range $key, $value := .User.Settings}}
        {{if $value.Status}}
        <option value='{{$value.Name}}' selected>{{$value.Name}}</option>
        {{else}}
        <option value='{{$value.Name}}'>{{$value.Name}}</option>
        {{end}}
        {{end}}
      </select>
    </form>

    <form id="formBody" class="" action="/dashboard/setValues/" method="post">
      {{range $key, $value := .User.Settings}}
      {{if $value.Status}}
      <label><p>Setting Name</p><input type="text" name="settingGroupName" value="{{$value.Name}}" placeholder="e.g -> Work" required></label>
      <label>
        <p>Add, Pull, Commit <span>(Repeat Minutes)</span></p>
        <input type="number" name="apcMin" placeholder="0" min="0" value="{{$value.SettingAddPullCommit.TimeMin}}">
      </label>
      <label>
        <p>Push <span>(Repeat Minute)</span></p>
        <input type="number" name="pMin" placeholder="0" min="0" value="{{$value.SettingPush.TimeMin}}">
      </label>
      <div class="notify">
        <p>Notifications</p>
        <ul>
          <li><label><input type="checkbox" name="notifyErrors" {{if $value.OnError}}checked{{end}}>Errors Events</label></li>
          <li><label><input type="checkbox" name="notifyCommit"{{if $value.OnCommit}}checked{{end}}>Commit Events</label></li>
          <li><label><input type="checkbox" name="notifyPush"{{if $value.OnPush}}checked{{end}}>Push Events</label></li>
        </ul>
      </div>

      <div class="reposlist">
        <p>Repos</p>
        <ul>
          {{range $key, $v := $value.Repos}}
          {{if $v.Status}}
          <li><label><input type="checkbox" name='{{$v.Name}}'checked>{{$v.Name}}</label></li>
          {{else}}
          <li><label><input type="checkbox" name='{{$v.Name}}'>{{$v.Name}}</label></li>
          {{end}}
          {{end}}
        </ul>
      </div>
      <div id="buttonSubmit">
        <button type="submit">Save</button><a id="removeSetting" href="/dashboard/setRemove/">Remove</a>
      </div>
      {{end}}
      {{end}}
    </form>
  </section>
  <section id="commands">
    <div class="dashTitle">
      <h2>3. Commands</h2>
    </div>
    <div class="command">
      <div class="dashCommandTitle">
        <h3>Initialize Environment</h3> - <span>Only run for the first download or update Forgit directory path.</span>
      </div>
      <pre><code><strong>$</strong> forgit init</code></pre>
      <pre><code><strong>Your UUID:</strong> {{.User.ForgitID}}</code></pre>
    </div>
    <div class="command">
      <div class="dashCommandTitle">
        <h3>Start Command</h3>
      </div>
      <pre><code><strong>$</strong> forgit start</code></pre>
    </div>
    <div class="command">
      <div class="dashCommandTitle">
        <h3>Help Command</h3>
      </div>
      <pre><code><strong>$</strong> forgit help</code></pre>
    </div>
  </section>
</section>
{{end}}
