{{define "gettingStarted"}}
{{template "cta" .}}
<section id="gettingStarted">
  <div class="gstartArt">
    <div class="row1">
      <div class="left">
        <div class="getcmd">
          <img src="/static/img/cmdRed.svg" alt="CommandLine symbol" />
        </div>
        <p class="number">1</p>
        <p class="getTitle">Download</p>
      </div>
    </div>
    <div class="row2">
      <p>
        After you click download, go through the application install process.
        It will give you the ability to run the command <strong>forgit</strong> CLI anywhere in your shell.
      </p>
      <div id="getdownloadbox">
        <a class="getdownload" href="/static/Forgit_CLI.zip" title="" download="forgit"><p><img src="/static/img/download.svg" alt="download symbol" />Mac</p></a>
        <a class="getdownload" href="/static/Forgit_CLI_Linux.tar.gz" title="" download="forgit"><p><img src="/static/img/download.svg" alt="download symbol" />Linux (beta)</p></a>
      </div>
    </div>
  </div>
  <div class="gstartArt">
    <div class="row1">
      <div class="left">
        <div class="getcmd">
          <img src="/static/img/cmdRed.svg" alt="CommandLine symbol" />
        </div>
        <p class="number">2</p>
        <p class="getTitle">Settings</p>
      </div>
    </div>
    <div class="row2">
      <p>
        When you logged in you were on the Terminal page.
        In the second section you will have a default setting group.
        This is where you can set your preferred settings.
        You can also create multiple setting groups with different settings.
        You can only choose one setting group at a time.
      </p>
      <p>
        So go set your settings you want if you haven't already. You can edit the default setting group.
      </p>
    </div>
  </div>
  <div class="gstartArt">
    <div class="row1">
      <div class="left">
        <div class="getcmd">
          <img src="/static/img/cmdRed.svg" alt="CommandLine symbol" />
        </div>
        <p class="number">3</p>
        <p class="getTitle">Initialize</p>
      </div>
    </div>
    <div class="row2">
      <p class="commandTitle"><span>$</span> forgit init</p>
      <p id="init">
        <code><span>UUID:</span> {{.User.ForgitID}}</code>
      </p>
      <p>
        If this is the first setup on this computer <strong>forgit init</strong> will be required.
        The initialization command will grab all your settings you have set on the
        <strong>Terminal</strong> page. It will configure your Forgit directory and .forgitConf.json
        file for you on your local machine.
      </p>
      <p>
        When you run this command you will be asked for the path you want the Forgit
        directory to live on your computer. Next you will be asked for the UUID on the <strong>Terminal</strong> page.
        At that point you will be ready to move to the start command.
      </p>
    </div>
  </div>
  <div class="gstartArt">
    <div class="row1">
      <div class="left">
        <div class="getcmd">
          <img src="/static/img/cmdRed.svg" alt="CommandLine symbol" />
        </div>
        <p class="number">4</p>
        <p class="getTitle">Start</p>

      </div>
    </div>
    <div class="row2">
      <p class="commandTitle"><span>$</span> forgit start</p>
      <div id="startdocs">
        <div class="colOne">
          <p>
            Since this app can run offline, you can give this command a few different parameters.
          </p>
          <p>
            If a <strong>-c [Minutes]</strong> or <strong>-p [Minutes]</strong> is passed it will
            automate all repos in the Forgit directory just for the one session. You can select one of
            your setting groups if you would like instead.
          </p>
        </div>
        <div class="colTwo">
          <p><strong>Commit Setting</strong></p>
          <p><strong>[</strong> -c MINUTE <strong>]</strong></p>
          <p><strong>Push Setting</strong></p>
          <p><strong>[</strong> -p MINUTE <strong>]</strong></p>
          <p><strong>Setting Group</strong></p>
          <p><strong>[</strong> g EXACT_NAME <strong>]</strong></p>
          <p>Examples :</p>
          <pre><code><span>$</span> forgit start -c 10 -p 60</code></pre>
          <pre><code><span>$</span> forgit start g Example</code></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="gstartArt">
    <div class="row1">
      <div class="left">
        <div class="getcmd">
          <img src="/static/img/cmdRed.svg" alt="CommandLine symbol" />
        </div>
        <p class="number">5</p>
        <p class="getTitle">Stop</p>

      </div>
    </div>
    <div class="row2">
      <p class="commandTitle"><span>$</span> forgit Stop</p>
      <p>
        This command will just tell you to use <strong>control-c</strong>, or <strong>close</strong> the shell window.
        If you do not stop the app it will continue to run until you shutdown the computer.
      </p>
    </div>
  </div>
</section>
{{end}}
