{{define "index"}}
{{template "cta" .}}
<section id="features">
  <h2>Features</h2>
  <div id="tabs">
    <a data-tab=1><img src="/static/img/git.svg" alt="git logo" /></a>
    <a data-tab=2><img src="/static/img/internet.svg" alt="Not network symbol" /></a>
    <a data-tab=3><img src="/static/img/notify.svg" alt="notification bell symbol" /></a>
    <a data-tab=4><img src="/static/img/time.svg" alt="watch symbol" /></a>
    <a data-tab=5><img src="/static/img/workspace.svg" alt="workspace symbol" /></a>
  </div>
  <article class="tab_1">
    <div class="content">
      <h3>Automating Basic Git Flow</h3>
      <div class="twoColumn">
        <p>Always taking a long time writing meaningful commit messages when code comments explain it all? Forgit will add, commit and push your code to Github for you.</p>
        <ul>
          <li>Add stages one file at a time.</li>
          <li>Commit has a message based on the comments in the code.</li>
          <li>Push sends your code to Github if connected to the internet.</li>
        </ul>
      </div>
    </div>
  </article>
  <article class="tab_2">
    <div class="content">
      <h3>Offline</h3>
        <div class="twoColumn">
          <p>If you are on a bus to work, in a park, at the beach, or even on a plane working on something you just remembered. Your code can continue to create history. </p>
          <ul>
            <li>Add still works.</li>
            <li>Commits with file based comment messages.</li>
            <li>Push does not work offline.</li>
            <li>Notifications continue.</li>
          </ul>
        </div>
      </div>
  </article>
  <article class="tab_3">
    <div class="content">
      <h3>Notifications</h3>
      <div class="twoColumn">
        <p>Notifications are native to your machine. Forgit sends a notificaton for many reasons including:</p>
        <ul>
          <li>Commit events.</li>
          <li>Push events.</li>
          <li>Errors.</li>
          <li>Internet errors with pushing.</li>
          <li>No commits.</li>
        </ul>
      </div>
    </div>
  </article>
  <article class="tab_4">
    <div class="content">
      <h3>Time Intervals</h3>
      <div class="twoColumn">
        <p>Every developer is different, so giving them an option to set times for the Git flow automation is important.</p>
        <ul>
          <li>Commit times are set in minutes.</li>
          <li>Push times are set in minutes.</li>
        </ul>
      </div>
    </div>
  </article>
  <article class="tab_5">
    <div class="content">
      <h3>Setting Workspaces</h3>
      <div class="twoColumn">
        <p>When a developers workflow is different based on where or what they are working on, workspaces give you a way to set settings based on those workflows.</p>
        <ul>
          <li>Example naming would be work, home, freelance.</li>
          <li>Select individual repos for group.</li>
          <li>Set if you want notification.</li>
          <li>Setting if you want commit or push to automate.</li>
        </ul>
      </div>
    </div>
  </article>
</section>
<section id="price">
  <div id="priceTitle">
    <h2>Prices</h2>
  </div>
  <div id="priceStyleCol">
    <section class="priceCol">
      <div class="priceBox">
        <p>One Month Trial</p>
        <p>Free</p>
      </div>
      <ul>
        <li><p>1 Settings workspace.</p></li>
        <li><p>2 Automated repos.</p></li>
        <li><p>Online and offline use.</p></li>
        <li><p>Notifications</p></li>
        <li><p>Time intervals for commit and push.</p></li>
      </ul>
    </section>
    <section class="priceCol">
      <div class="priceBox">
        <p>Yearly</p>
        <p>$10</p>
      </div>
      <ul>
        <li><p>Unlimited settings workspaces.</p></li>
        <li><p>Unlimited automated repos.</p></li>
        <li><p>Online and offline use.</p></li>
        <li><p>Notifications.</p></li>
        <li><p>Time intervals for commit and push.</p></li>
      </ul>
    </section>
  </div>
</section>
<section id="createdBy">
  <div class="fboxOne">
    <h2>Created By</h2>
  </div>
  <div class="fboxTwo">
    <img src="/static/img/whalebyte.svg" alt="Whale Byte logo" />
  </div>
</section>
{{end}}
