{{define "index"}}
{{template "cta" .}}
<section id="features">

    <h2>Features</h2>
  <div id="tabs">
    <a data-tab=1>tab one</a>
    <a data-tab=2>tab two</a>
    <a data-tab=3>tab three</a>
    <a data-tab=4>tab four</a>
    <a data-tab=5>tab five</a>
  </div>
  <article class="tab_1">
    <h3>Automationg Basic Git Flow</h3>
    <p>Always taking a long time writing meaningful commit messages when code comments expain it all? Forgit will add, commit and push your code to github for you.</p>
    <ul>
      <li>Add will stage one file at a time.</li>
      <li>Commit will have a message based on the comments in the code.</li>
      <li>Push will send your code to github if connected to  WIFI.</li>
    </ul>
  </article>
  <article class="tab_2">
    <h3>Offline</h3>
      <p>If you are on a bus to work, in a park, at the beach, or even on a plane working on something you just remembered. Your code can continue to create history. </p>
      <ul>
        <li>Add still works.</li>
        <li>Commits with file based comment messages.</li>
        <li>Push will not work offline.</li>
        <li>Notifications will continue.</li>
      </ul>
  </article>
  <article class="tab_3">
    <h3>Notifications</h3>
    <p>Notifications are native to your machine. Forgit will send a notificaton for many reasons including:</p>
    <ul>
      <li>Commit events.</li>
      <li>Push events.</li>
      <li>Errors.</li>
      <li>Internet errors with pushing.</li>
      <li>No commits.</li>
    </ul>
  </article>
  <article class="tab_4">
    <h3>Time Intervals</h3>
    <p>Every developer is different, so giving them an option to set times for the git flow automation is important.</p>
    <ul>
      <li>Commit times are set in minutes.</li>
      <li>Push times are set in minutes.</li>
    </ul>
  </article>
  <article class="tab_5">
    <h3>Setting Workspaces</h3>
    <p>When a developers workflow is different based on where or what they are working on, workspaces will give you a way to set settings based on those workflows.</p>
    <ul>
      <li>Example naming would be work, home, freelance.</li>
      <li>Select inividual repos for group.</li>
      <li>Set if you want notification.</li>
      <li>Setting if you want commit or push to automate.</li>
    </ul>
  </article>

</section>
{{end}}





<!-- <div class="tabs">
  <div class="tab">
    <input type="radio" id="tab-1" name="tab-group-1" checked>
    <label for="tab-1">Tab One</label>
    <div class="content">
      <h3>Automationg Basic Git Flow</h3>
      <p>Always taking a long time writing meaningful commit messages when code comments expain it all? Forgit will add, commit and push your code to github for you.</p>
      <ul>
        <li>Add will stage one file at a time.</li>
        <li>Commit will have a message based on the comments in the code.</li>
        <li>Push will send your code to github if connected to  WIFI.</li>
      </ul>
    </div>
  </div>
  <div class="tab">
    <input type="radio" id="tab-2" name="tab-group-1">
    <label for="tab-2">Tab Two</label>
    <div class="content">
      <h3>Offline</h3>
      <div class="contentColumns">
        <p>If you are on a bus to work, in a park, at the beach, or even on a plane working on something you just remembered. Your code can continue to create history. </p>
        <ul>
          <li>Add still works.</li>
          <li>Commits with file based comment messages.</li>
          <li>Push will not work offline.</li>
          <li>Notifications will continue.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tab">
    <input type="radio" id="tab-3" name="tab-group-1">
    <label for="tab-3">Tab Three</label>
    <div class="content">
      <h3>Notifications</h3>
      <p>Notifications are native to your machine. Forgit will send a notificaton for many reasons including:</p>
      <ul>
        <li>Commit events.</li>
        <li>Push events.</li>
        <li>Errors.</li>
        <li>Internet errors with pushing.</li>
        <li>No commits.</li>
      </ul>
    </div>
  </div>
  <div class="tab">
    <input type="radio" id="tab-4" name="tab-group-1">
    <label for="tab-4">Tab Four</label>
    <div class="content">
      <h3>Time Intervals</h3>
      <p>Every developer is different, so giving them an option to set times for the git flow automation is important.</p>
      <ul>
        <li>Commit times are set in minutes.</li>
        <li>Push times are set in minutes.</li>
      </ul>
    </div>
  </div>
  <div class="tab">
    <input type="radio" id="tab-5" name="tab-group-1">
    <label for="tab-5">Tab Five</label>
    <div class="content">
      <h3>Setting Workspaces</h3>
      <p>When a developers workflow is different based on where or what they are working on, workspaces will give you a way to set settings based on those workflows.</p>
      <ul>
        <li>Example naming would be work, home, freelance.</li>
        <li>Select inividual repos for group.</li>
        <li>Set if you want notification.</li>
        <li>Setting if you want commit or push to automate.</li>
      </ul>
    </div>
  </div>
</div> -->
