{{define "nav"}}
<header>
	{{if .Auth}}
	<a href="/terminal/">
		<img class="" src="/static/img/logoNoSloganColor.svg" alt="Forgit Logo" />
	</a>
	{{else}}
	<a href="/">
		<img class="" src="/static/img/logoNoSloganColor.svg" alt="Forgit Logo" />
	</a>
	{{end}}
	<nav>
		{{if .Auth}}
			<a href="/terminal/">Terminal</a>
			<a href="#gettingstarted">Getting Started</a>
			{{else}}
			<a href="#features">Features</a>
			<a href="#price">Pricing</a>
			<a href="#createdBy">Created By</a>
			<a href="/auth/">Log In / Register</a>
		{{end}}
	</nav>
</header>
{{end}}
