{{define "newSettingForm"}}
<form id="newFormBody" class="" action="/dashboard/setValues/" method="post">
  <label><p>Setting Name</p><input type="text" name="settingGroupName" required value="" placeholder="e.g -> Work" ></label>
  <label>
    <p>Add, Pull, Commit <span>(Repeat Minutes)</span></p>
    <input type="number" name="apcMin" placeholder="0" min="0" value="5">
  </label>
  <label>
    <p>Push <span>(Repeat Minute)</span></p>
    <input type="number" name="pMin" placeholder="0" min="0" value="60">
  </label>
  <div class="notify">
    <p>Notifications</p>
    <ul>
      <li><label><input type="checkbox" name="notifyErrors" checked>Errors Events</label></li>
      <li><label><input type="checkbox" name="notifyCommit" checked>Commit Events</label></li>
      <li><label><input type="checkbox" name="notifyPush" checked>Push Events</label></li>
    </ul>
  </div>

  <div class="reposlist">
    <p>Repos</p>
    <ul>
      {{range $key, $v := .User.Repos}}
      <li><label><input type="checkbox" name='{{$v.Name}}'>{{$v.Name}}</label></li>
      {{end}}
    </ul>
  </div>
  <div id="buttonSubmit">
    <button type="submit">Save</button><button id="cancelNewSetting">Cancel</button>
  </div>
</form>
{{end}}
