{{define "terminal" }}
{{template "cta" .}}
<section id="termial">
  <section id="commands">
    <div class="termTitle">
      <h2>Commands</h2>
      <a id="download" href="/static/img/git.svg" title="" download="forgit"><p>Download Forgit</p></a>
    </div>
    <div class="command">
      <div class="termCommandTitle">
        <h3>Initialize Environment</h3> - <span>Only run for the first download or update Forgit directory path.</span>
      </div>
      <pre><code><strong>$</strong> fgt init</code></pre>
    </div>
    <div class="command">
      <div class="termCommandTitle">
        <h3>Start Command</h3>
      </div>
      <pre><code><strong>$</strong> fgt start</code></pre>
    </div>
    <div class="command">
      <div class="termCommandTitle">
        <h3>Help Command</h3>
      </div>
      <pre><code><strong>$</strong> fgt help</code></pre>
    </div>
  </section>
  <section id="workspaces">
    <div class="termTitle">
      <h2>Settings Workspaces</h2>
      <a href="/terminal/setNew"><span>* Add new workspace</span><img src="/static/img/plus.svg" alt="plus sign" /></a>
    </div>
    <form class="" action="/terminal/setSelect" method="post">
      <select data-controller="number"  onchange="this.form.submit()" name="workspaceSelect">
        <option  value="home">Home</option>
        <option value="work">Work</option>
        <option value="freelance">Freelance</option>
      </select>
    </form>

    <form class="" action="/terminal/setValues" method="post">
      <input data-model="number" type="text" name="workspaceName" value="" placeholder="e.g -> Work">
      <label>
        <p>Add, Pull, Commit <span>(Repeat Minutes)</span></p>
        <input type="number" name="apcMin" placeholder="0" min="0" value="0">
      </label>
      <label>
        <p>Push <span>(Repeat Minute)</span></p>
        <input type="number" name="pMin" placeholder="0" min="0" value="0">
      </label>
      <div class="reposlist">
        <p>Repos</p>
        <ul>
          <li><label><input type="checkbox" name="text1"/>Text 1</label></li>
          <li><label><input type="checkbox" name="text2"/>Text 2</label></li>
        </ul>
        <ul>
          <li><label><input type="checkbox" name="text3"/>Text 3</label></li>
          <li><label><input type="checkbox" name="text4"/>Text 4</label></li>
        </ul>
      </div>
      <button type="submit" name="button">Save</button>
    </form>
  </section>
</section>
{{end}}
