#createdBy {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  .fboxOne {
    display: flex;
    flex:1;
    h2  {
      flex: 1;
      color: $black;
      font: 500 3em $font-family;
    }
  }
  .fboxTwo {
    display: flex;
    flex:1;
    p {
      justify-content: center;
      flex: 1;
      align-items: center;
      display: flex;
      img {
        height: auto;
        width: 50%;
        margin-bottom: 40px;
      }
    }
  }
}

@media all and (max-width: 922px) {
  #createdBy .fboxTwo p img {

      width: 100%;

  }
}
