
#ctaAuthed {
  padding: 40px;
  display: flex;
  flex: 1;
  background: $turq;
  justify-content: center;
  flex-direction: column;
  font: 700 1em $font-family;
  min-height: 200px;
  p {
    margin: 0;
    display: block;
    color: $gray;
    font:500 2em $font-family;
    span {
      color:$black;
    }
  }
  }
  #slogan {
    font: italic 700 4em $font-family;
    color: $gray;
    margin: 0 0 10px 0;
    img {
      height: 50px;
    }
  }

  #authed {
    display: flex;
    text-align: center;
    width: 100%;
    background: $turq;
    color: $white;
    align-items:flex-start;
    flex-direction: column;
    h1 {
      font: 700 5em $font-family;
      color: #FFFFFF;
      margin: 0 ;
    }
    a {
      color: $white;
      display: block;
    }
  }

  #landing {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      padding: 15px;
    }
    a {
      color: $white;
      display: block;
      &[href="/auth/"] {
        width: 250px;
        height: 50px;
        background: $black;
        font:400 1.4em $font-family;
        border-radius: 4px;
        &::before {
          content: url('../img/gh_logo.png');
          padding: 10px;
          align-items: center;
          position: relative;
          top: 8px;
        }
        &:hover {
          background: $gray;
        }
      }
  }
}

#ctaLanding {
  margin: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  font: 700 1em $font-family;
  min-height: 200px;
  p {
    margin: 0;
    display: block;
    color: $gray;
    font:500 3em $font-family;
  }
  }
  #slogan {
    margin-bottom: 0;
    font: italic 700 5em $font-family;
    color: $gray;
    img {
      height: 50px;
    }
  }

  #landing {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      padding: 15px;
    }
    a {
      color: $white;
      display: block;
      &[href="/auth/"] {
        width: 250px;
        height: 50px;
        background: $black;
        font:400 1.4em $font-family;
        border-radius: 4px;
        &::before {
          content: url('../img/gh_logo.png');
          padding: 10px;
          align-items: center;
          position: relative;
          top: 8px;
        }
        &:hover {
          background: $gray;
        }
      }
  }
}



@media all and (max-width: 1026px) {
  #authed {
    width: 100%;
  }
}

@media all and (max-width: 460px) {
  #ctaAuthed, #ctaLanding {
    min-height: auto;
    #landing {
      p {
        font:500 2em $font-family;
      }
    }
    #authed {
      width: 100%;

      a[href="/logout"] {
        margin-top: 20px;
      }
    }
    #slogan {
      font: italic 700 4em $font-family;
      color: $gray;
      margin-top: 20px;
      img {
        height: 40px;
      }
    }
  }
  #ctaLanding #slogan {
    font-size: 3em;

  }
}
