#dashboard {
  padding: 0 40px;
  display: flex;
  flex: 1;
  flex-direction: column;
  #dashDownloads {
    flex-direction: column;
    color: $gray;
    .downloadsButtonsSection {
      & .download {
        display: flex;
        margin: 0 0 10px 0;
        align-items: center;
        color: $white;
        background: rgba(83, 94, 98, 0.7);
        text-decoration: none;
        justify-content: center;
        cursor: pointer;
        padding: 20px;
        height: 40px;
        p {
          align-self: center;
          font-size: 2em;
        }
        &:hover {
          background: $gray;
          color: $turq;
        }
      }
    }
  }
  #commands {
    flex: 1;
    .dashTitle {
      margin: 40px 0 0;
      display: flex;
      flex: 1;
      align-items: center;

      & h2 {
        flex:2;
        color: $gray;
        margin: 20px 0;
      }
    }

    & .command:nth-child(2) {
      margin-top: 0;
    }
    & .command:nth-child(4) {
      margin-bottom: 0;
    }

    .command {
      flex: 1;
      background: $gray;
      margin: 20px 0;
      .dashCommandTitle {
        border: 1px solid $black;
        padding: 10px;
        background: $black;
        color: $white;
        & h3 {
          font-size: 1.3em;
          font-weight: 400;
          display: inline;
        }

        & span {
          font-style: italic;
          font-size: 1em;
        }
      }
      pre {
        margin: 0;
        background: $gray;
        padding:25px;
        white-space: pre-wrap; /* Since CSS 2.1 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
      }

      code {
        flex: 1;
        font-size: 1.5em;
        background: $gray;
        color: $white;
        margin: 10px;
      }
      code strong {
        color: $turq;
      }
    }
  }
  #settingGroups {
    margin: 40px 0 0;
    flex: 1;
    .dashTitle {
      display: flex;
      color: $gray;
      flex: 1;
      align-items: center;

      & a span {
        font-style: italic;
        font-size: 1em;
        line-height: 2.5;
        color: $gray;
        left: 280px;
        margin-right: 20px;
      }
      & h2 {
        flex:2;
        margin: 20px 0;
      }
      & a {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        img {
          height: 2.5em;
        }
      }
    }
    form {
      color: $black;
      margin: 20px 0 0;
      display: flex;
      flex: 1;
      flex-direction: column;
      input, select, label {
        color: $black;
        cursor: pointer;
      }
      input[name="settingGroupName"] {
        font-size: 2em;
        padding: .5em;
        margin: 10px 0;
		    text-transform:uppercase;
      }
      label {
        margin: 10px 0;
        font-size: 1.5em;
        align-items: center;
        display: flex;
        & input {
          flex: 2;
          font-size: .7em;
          text-align: left;
          padding: 1.5em;
        }
        & p {
          flex: 1;
          font-weight: bold;
          padding-right: 40px;
          align-items: center;
          span {
            font-size: .6em;
          }
        }
        .minute{
          display: flex;
          flex: 1;
        }
      }

      #buttonSubmit {
        flex:1;
        display: flex;
        margin: 1em 0 0;
        button {
          font-size: 2em;
          background: $turq;
          color: $gray;
          border: 0;
          padding: .5em;
          margin: 0 10px 0 0;
          font-weight: 700;
          width: 50%;
          cursor: pointer;
        }
        #removeSetting {
          padding: .5em;
          margin: 1em 0;
          color: $red;
          background: none;
          font-size: 2em;
          font-weight: 500;
          margin: 0 0 0 10px;
          border: 2px solid $red;
          width: 50%;
          text-align: center;
          &:hover {
            background: $red;
            color: $white;
          }
          &:active {
            background: none;
            color: $red;
          }
        }
      }

      select {
        font-size: 2.5em;
        border: 1px solid $black;
        padding: 5px 0px;
        background: transparent;
        justify-content: center;
		    text-transform:uppercase;
      }

      & ul {
        li {
          display: flex;
        }
      }
      .reposlist, .notify  {
        & p {
          font-size: 1.5em;
          font-weight: bold;
        }
        label {
          font-size: 1.3em;
          input {
            margin-right: 20px;
          }
        }
      }
      .reposlist {
        & ul {
          display: flex;
          flex-wrap: wrap;
        }
        li {
          flex: 0 50%;
        }
      }

      .notify {
        ul {
          display: block;
          input {
            margin-right: 20px;
          }
        }
      }
    }
  }
}


@media all and (min-width: 628px) {


}

@media all and (max-width: 628px) {

  .downloadsButtonsSection {
     flex-direction: column;
  }
  // #dashDownloads:nth-child(1) &.downloadsButtonsSection a.download:last-child {
  //   margin-left: 0;
  //   margin-right: 0;
  // }

  .dashTitle {
    & p {
      font-size: 2em;
    }
  }
  .reposlist {
    & ul {
      flex-direction: column;
    }
  }
}

@media all and (max-width: 1119px) {

  #dashDownloads {
    text-align: center;
    align-items: center;;
  }

  #settingGroups > .dashTitle {
    flex-direction: column;

    span {
      display: none;
    }
  }
  form {
    ul {
      padding: 0;
      li {
        flex: 0 100%;
      }
    }
    &>label {
      align-items: center;
      flex-direction: column;
      input {
        width: 100%;
      }
    }
  }
  .reposlist, .notify {
    p {
      text-align: center;
    }
  }
  .reposlist {
    ul {
      font-size: 1em;
    }
  }
}
