#features {
  display: flex;
  background: $gray;
  flex-direction: column;
  h2 , & > a, article, #tabs{
    padding: 0 40px;
  }

  #tabs {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    & > a {
      display: inline-block;
      flex: 1;
      color: $white;
      img {
        height: 94px;
        margin: 20px;
      }
    }
    .hov:hover {
      background: rgba(255, 255, 255, 0.03);
    }
  }
  .selectedtab {
    background: $turq;
  }

  h2 {
    flex: 1;
    font: 500 3em $font-family;
    margin: 20px 0;
    color: $white;
  }


  h3 {
    font:500 2.5em $font-family;
    margin: 40px 0 0px 0;
    color: $white;
  }

  article {
    display: none;
    flex: 1;
    background: $turq;
    .content {
      display: flex;
      flex-direction: column;
      .twoColumn {
        display: flex;
        font: 400 1.8em $font-family;
        line-height: 42px;
        color: $white;
        p {
          padding: 9px 40px 0 40px;
        }
        p, ul{
          flex: 1;
        }
        ul {
          list-style:none;
          padding-left:30px;
        }
        ul li:before {
          content: "";
          display: block;
          border: 3px solid $white;
          width: 5px;
          align-items: center;
          position: relative;
          top: 24px;
          left: -20px;
        }
      }
    }
  }

  .even {
    background: $gray;
    color: $white;
  }
}


// height: 350px;
@media all and (max-width: 1000px) {
  #tabs a img {
    display: none;
  }

}

@media all and (min-width: 922px) {
  article {
    height: 405px;
  }
}
