#features {
  display: flex;
  background: $gray;
  flex-direction: column;
  h2 , & > a, article, #tabs{
    padding: 0 40px;
  }

  #tabs {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    & > a {
      display: inline-block;
      flex: 1;
      color: $white;
      img {
        height: 40px;
        margin: 10px;
      }
    }
    .hov:hover {
      background: rgba(255, 255, 255, 0.2);
	    cursor: pointer;
    }
  }
  .selectedtab {
    background: $turq;
	  cursor: pointer;
  }

  & h2 {
    flex: 1;
    color: $white;
  }

  & h3 {
    font:500 2.5em $font-family;
    color: $gray;
  }

  article {
    flex: 1;
    background: $turq;
    height: 300px;
    .content {
      display: flex;
      flex-direction: column;
      .twoColumn {
        display: flex;
        font: 400 1.8em $font-family;
        line-height: 32px;
        color: $gray;

        p, ul{
          flex: 1;
        }
        &:first-child {
          margin-left: 0;
        }
        & ul {
          list-style:none;
          margin-left: 70px;

        }
        & ul li:before {
          content: "";
          display: block;
          border: 3px solid $white;
          width: 5px;
          align-items: center;
          position: relative;
          top: 19px;
          left: -20px;
        }
      }
    }
  }
  .even {
    background: $gray;
    h3 {
      color: $white;
    }
    .content {
      .twoColumn {
        color: $white;
      }
    }
  }
}


@media all and (max-width: 922px) {
  #features article {
    height: auto;
  }
  #features #tabs a img {
    display: none;
  }
  #features .twoColumn p,  .twoColumn li{
    font-size: .8em;
  }
  #features .twoColumn {
    flex-direction: column;
  }
  #features article .content .twoColumn ul {
      margin-top: 0;
      margin-left: 0;
      padding-left: 20px;
  }

}
