#features {
  display: flex;
  background: $gray;
  flex-direction: column;
  h2 , & > a, article, #tabs{
    padding: 0 40px;
  }

  #tabs {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    & > a {
      display: inline-block;
      flex: 1;
      color: $white;
      img {
        height: 94px;
        margin: 20px;
      }
    }
    .hov:hover {
      background: rgba(255, 255, 255, 0.03);
    }
  }
  .selectedtab {
    background: $turq;
  }

  h2 {
    flex: 1;
    color: $white;
  }


  h3 {
    font:500 2.5em $font-family;
    margin: 40px 0 0px 0;
    color: $white;
  }

  article {
    flex: 1;
    background: $turq;
    height: 405px;
    .content {
      display: flex;
      flex-direction: column;
      .twoColumn {
        display: flex;
        font: 400 1.8em $font-family;
        line-height: 42px;
        color: $white;
        p, ul{
          flex: 1;
        }
        ul {
          list-style:none;
        }
        ul li:before {
          content: "";
          display: block;
          border: 3px solid $white;
          width: 5px;
          align-items: center;
          position: relative;
          top: 24px;
          left: -20px;
        }
      }
    }
  }
  .even {
    background: $gray;
    color: $white;

  }
}


@media all and (max-width: 922px) {
  #features article {
    height: auto;
  }
  #tabs a img {
    display: none;
  }
  .twoColumn p,  .twoColumn li{
    font-size: .8em;
  }
  .twoColumn {
    flex-direction: column;
  }
  .twoColumn ul {
      margin-top: 0;
      margin-left:0;
  }

}

@media all and (min-width: 922px) {
  .twoColumn {
    margin-left:10px;
  }
}
