#footer {
  background: $gray;
  display: flex;
  padding: 20px 40px;
  #logo {
    display:flex;
    flex: 10;
    a {
      img {
        height: 80px;
      }
    }
  }
  #social {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: right;
    a {
      flex: 1;
      img {
        height: 30px;
      }
    }
  }
}

@media all and (max-width: 922px) {
  #footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    #logo {
      flex: 1;
    }
    #social {
      flex: 1;
      a {
        margin: 20px;
      }
    }
  }
}
