#gettingStarted {
  font:500 1em $font-family;
  .gstartArt {
    // margin: 0;
    min-height: 500px;
    padding: 20px 40px;
    align-content: center;
    .row1{
      align-items: center;
      // display: flex;
      flex: 1 100%;
      .left {
        flex:1;
        display: flex;
        align-items: baseline;
        .getcmd {
          flex:1;
          img {
            height: 50px;
          }
        }
        .number {
          flex:1;
          font-weight: 700;
          font-size: 5em;
          margin: 0;
        }
        .getTitle {
          flex:7;
          font-weight: 500;
          font-size: 3em;
          margin: 0;
        }

      }
    }
    .row2{
      font-size: 2em;
      padding: 20px 0;
      .commandTitle {
        flex:4;
        text-align: center;
        font-weight: 500;
        font-size: 2em;
        margin: 0;
        color: $turq;
        span {
          color: $red;
        }
      }
      #getdownloadbox {
        // display: flex;
        justify-content: center;
        .getdownload {
          & p:hover {
            background: $gray;
            color: $turq;
          }
          padding: 0 20px;
          font-weight: 500;
          font-size: 1em;
          text-align: center;
          text-decoration: none;
          & p {
            margin: 0;
            // margin: 20px 0;
            background: $red;
            color: #FFFFFF;
            padding: 10px;
            font-size: 1.4em;
            font-weight: 500;
          }
          img {
            height: 40px;
            margin-right: 40px;
          }
        }
      }
      &  p {
        color: $black;
        font-weight: 300;
        font-size: 1.1em;
        line-height: 1.4;
      }
      #init {
        text-align: center;
        & span {
          color: $turq;
          font-weight: 700;
        }
      }
      #startdocs {
        display: flex;
        .colOne {
          flex: 1 50%;
        }
        .colTwo {
          margin-left: 20px;
          flex: 1 50%;
          font-size: .8em;
          & strong {
            color: $turq;
          }
          & span {
            color: $gray;
          }
          & code {
            background: $turq;
            // padding: 10px;
            margin: 10px 0;
          }
          & pre {
            background: $turq;
            padding: 20px;
          }
        }
      }
    }
  }
  .gstartArt:nth-child(odd) {
      background: #FFFFFF;
    .row1{
      .number, .getTitle {
        color: $gray;
      }
    }
  }
  .gstartArt:nth-child(even) {
      background: $gray;
    .row1{
      .number, .getTitle {
        color: $white;
      }
    }
    .row2 {
      p {
        color: $white;
      }
      .commandTitle {
        color: $turq;
        span {
          color: $white;
        }
      }

    }
  }
}
