#gettingStarted {
  font:500 1em $font-family;
  .gstartArt {
    padding: 40px 150px;
    align-content: center;
    .row1{
      align-items: center;
      flex: 1 100%;
      .left {
        flex:1;
        display: flex;
        align-items: baseline;
        .number {
          flex:1;
          font-weight: 700;
          font-size: 5em;
          margin: 0;
        }
        .getTitle {
          flex:12;
          font-weight: 500;
          font-size: 3em;
          margin: 0;
          span {
            color: $turq;
          }
        }

      }
    }
    .row2{
      font-size: 1.5em;
      padding: 20px 0;
      .commandTitle {
        flex:4;
        text-align: center;
        font-weight: 500;
        font-size: 2em;
        margin: 0;
        color: $turq;
        span {
          color: $red;
        }
      }
      #getdownloadbox {
        justify-content: center;
        .getdownload {
          & p:hover {
            background: $gray;
            color: $turq;
          }
          padding: 0 20px;
          font-weight: 500;
          font-size: 1em;
          text-align: center;
          text-decoration: none;
          & p {
            margin: 0;
            background: rgba(83, 94, 98, 0.7);
            color: #FFFFFF;
            padding: 10px;
            font-size: 1.2em;
            font-weight: 400;
          }
        }
      }
      & p {
        color: $black;
        font-weight: 300;
        font-size: 1.1em;
        line-height: 1.4;
      }
      #init {
        text-align: center;
        & span {
          color: $turq;
          font-weight: 700;
        }
      }
      #startdocs {
        .colOne {
          flex: 1 50%;
        }
        .colTwo {
          flex: 1 50%;
          font-size: .8em;
          & strong {
            color: $turq;
          }
          & span {
            color: $gray;
          }
          & code {
            background: $turq;
            margin: 10px 0;
          }
          & pre {
            background: $turq;
            white-space: pre-wrap; /* Since CSS 2.1 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
            padding: 20px;
          }
        }
      }
    }
  }
  .gstartArt:nth-child(odd) {
      background: #FFFFFF;
    .row1{
      .number, .getTitle {
        color: $gray;
      }
    }
  }
  .gstartArt:nth-child(even) {
      background: $gray;
    .row1{
      .number, .getTitle {
        color: $white;
      }
    }
    .row2 {
      p {
        color: $white;
      }
      .commandTitle {
        color: $turq;
        span {
          color: $white;
        }
      }

    }
  }
}

@media all and (max-width: 582px) {
 #gettingStarted  .gstartArt {
   font-size: .8em;
   padding: 40px 40px;
 }
}

@media all and (min-width: 1119px) {
  #gettingStarted .gstartArt .row2 #getdownloadbox {
    & a {

    }
    & .getdownload {
      width: 40%;
    }
  }
}
