body {
	font-family: $font-family;
	font-size: .7em;
  margin: 0;
  a{
    text-decoration: none;
    outline: none;
  }
  h2 {
    flex: 1;
    font: 500 2.9em $font-family;
    margin: 20px 0 10px;
  }

  input {
    outline: none
  }

	ul {
		list-style: none;
	}

  h3 {
    font:500 2.5em $font-family;
    margin: 20px 0 0px 0;
  }
	.activePage {
		& p {
			color: $turq;
		}
	}
}

@media all and (max-width: 922px) {
  h2, h3 {
    text-align: center;
  }
}
