#price {
  display: flex;
  flex: 1;
  flex-direction: column;
  #priceTitle, #priceStyleCol {
    padding: 0 40px;
  }
  #priceTitle {
    flex: 1;
    h2 {
      color: $gray;
    }
  }
  #priceStyleCol {
    flex: 1;
  }
  .priceCol {
    flex: 1;
    align-items: center;
    &:first-child {
    }
    .priceBox {
      color: $white;
      background: $gray;
      p {
        margin: 0;
      }
      & > p:first-child {
        font: 700 2em $font-family;
        text-align: center;
        background: $red;
        padding: 20px;
      }
      & > p:nth-child(2) {
        padding: 20px;
        text-align: center;
        font: 700 6em $font-family;
        // &:before {
        //   content: url('../img/logop.png');
        //   position: relative;
        //   top: 10px;
        //   left: -10px;
        // }
      }
    }
    ul {
      list-style:none;
      margin: 20px;
      padding-left: 5px;
    }
    li p {
      margin: 0;
      color: $gray;
      font: 500 1.8em/42px $font-family;
    }
    ul li:before {
      content: "";
      display: block;
      border: 3px solid $black;
      width: 5px;
      align-items: center;
      position: relative;
      top: 24px;
      left: -20px;
    }
    & a {
      color: $white;
      flex: 1;
      display: flex;
      align-items: center;
      &[href="/auth/"],&[href="/donate/"]  {
        justify-content: center;
        text-align: center;
        width: 250px;
        height: 50px;
        background: $black;
        font:400 1.4em $font-family;
        border-radius: 4px;
        & img {
          height: 30px;
          flex: 1;
        }
        & p {
          flex: 2;
          color: $white;
          font: 500 1em $font-family;
        }
        &:hover {
          background: $gray;
        }
      }
    }
  }
}

@media all and (min-width: 922px) {
  #priceStyleCol {
    display:flex;
  }
}

@media all and (min-width: 922px) {
  .priceCol {
    &:first-child {
      margin-right: 40px;
    }
  }

}
