#subnav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 0 40px;
  color: $white;
  background: $black;
  align-items: center;
  & > p {
    // a {
    //   flex: 1;
    // }
    // span {
    //   flex: 3;
    // }
  }
  // span {
  //   color: $turq;
  //   font-weight: 700;
  //   font-size: 1.2em;
  //   margin-right: 10px;
  // }
  a {
    font:400 1.4em $font-family;
    text-decoration:none;
    text-align: center;
    justify-content:center;
    align-items: center;
    display: flex;
    flex: 1;
    padding: 0 20px;
    color: $white;

    &:link {
      color: $white;
    }
    &:visited {
      color: $white;
    }
    &:active {
      color: $gray;
    }
    &:hover {
      background: #7E878A;
      -moz-transition: 0.30s;
      -webkit-transition: 0.30s;
      transition: 0.30s;
    }
    &[href="/logout"] {
      font: italic 400 1.4em $font-family;
      color: $white;
      &:hover {
        color: $white;
        background: $red;
      }
    }

  }
}


@media all and (max-width: 922px) {
  #subnav {
    text-align: center;
    flex-direction: column;
    & p, & a {
      width: 100%;
    }

  }
}
